body {
  background: linear-gradient(-45deg, #3e3e3e, #151515, #353535, #101010);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ALT COLOR MODE */
.alt-color-mode {
  background: linear-gradient(-45deg, #ffffff, #cfcfcf, #f3f3f3, #d3d3d3);
  color: #333;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

/* Navbar */
.alt-color-mode-navbar a.link,
.alt-color-mode-navbar h1 {
  color: #333 !important;
}

#navbar.alt-color-mode-navbar > .site-name > a > h1 {
  border: 1px solid #333;
}
